__pycache__/
.coverage
.venv
.cache/
*.egg-info
poetry.lock
.idea/
.mypy_cache/
.idea
virtualenv
MANIFEST
*.pyc
build/
dist/
db.sqlite3
*.key
*.pwd
Steamguard*
data.json
steampy.egg-info
debug.*
deploy.sh
secrets